@media (min-width: 1200px) {
 
  .map-container{
    height: 600px;
  }
  
}

@media (min-width: 979px) and (max-width: 1200px) {

  .map-container{
    height: 500px;
  }

}

@media (max-width: 979px) {
 
  .map-container{
    height: 500px;
  }
  
}


@media (max-width: 768px) {
 
  .map-container{
    height: 400px;
  }
  
}

@media (min-width: 480px) and (max-width: 768px) {

  .map-container{
    height: 300px;
  }

}

@media (max-width: 480px) {
 
  .map-container{
    height: 300px;
  }
  
}

.navbar-inner{
  background: #E41B23;
}

.navbar .brand{
  color: #FFF;
}

.map{
  width: 100%;
  height: 100%;
  background: #CCC;
}

.options-row{
  margin-top: 20px;
}

.btn{
  margin-top: 9px;
}

.selected-directions{
  display: none;
}

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  text-align: center;
  vertical-align: center;
}

#overlay h1{
  position: relative;
  top: 60px;
  color: #FFF;
}

#overlay img{
  position: relative;
  top: 100px;
}